$successColor: #cacaca;
$successColorHover: #87c847;
$successColorOptional: #cceabb;

$alertMessage: #df397c;
$alertMessageHover: #f14d8f;
$alertMessageOptional: #ffcbcb;

$white: #fff;
$borderColor: rgb(187, 187, 187);

$scrollbarShadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
$scrollbarBackground: #f5f5f5;
$scrollbarColor: #308da7;

$shadow: 4px 9px 28px 0px rgba(14, 12, 40, 0.4);


$color: #42BADC;

:export {
  successColor: $successColor;
  successColorHover: $successColorHover;
  successColorOptional: $successColorOptional;
  alertMessage: $alertMessage;
  alertMessageHover: $alertMessageHover;
  alertMessageOptional: $alertMessageOptional;
  white: $white;
  shadow: $shadow;
  borderColor: $borderColor;
  scrollbarBackground: $scrollbarBackground;
  scrollbarShadow: $scrollbarShadow;
  scrollbarColor: $scrollbarColor;

}
